.messenger-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex: 1 0;
  height: 100vh;
}

messenger-list, messenger-content, messenger-info {
  padding: 0 1em;
}

messenger-content {
  width: 50%;
}

messenger-list, messenger-info {
  width: 25%;
}

messenger-list {
  background-color: rgb(18, 19, 20);
}

messenger-info {
  background-color: #1E1F25;
}
