.messenger-container {
  display: flex;
  justify-content: space-between;
}

messenger-list, messenger-content, messenger-info {
  padding: 0 1em;
  border: 1px solid red;
}

messenger-content {
  width: 50%;
}

messenger-list, messenger-info {
  width: 25%;
  overflow: auto;
}

messenger-list {
  background-color: rgb(18, 19, 20);
}

messenger-info {
  background-color: #1E1F25;
}
