<div [class]="'form-group ' + containerClassName">
  <label [for]="id" class="form-label">
    <small [ngClass]="{ 'sr-only': labelUnvisible }"
      >{{ label }}
      <span *ngIf="required" class="required"> * </span>
    </small>
  </label>
  <div class="form-input">
    <input
      [class]="'form-control ' + inputClassName"
      [type]="type"
      [id]="id"
      [name]="field"
      [placeholder]="ph"
      [formControl]="control"
      [required]="required"
    />
    <ng-container *ngIf="isPwd">
      <div class="viewPwd" (click)="viewPwd()" tabindex="0">
        <app-icon [icon]="faEye">Visualiser le mot de passe</app-icon>
      </div>
    </ng-container>
  </div>
</div>
