.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-label {
  padding-left: 1em;
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.form-control {
  padding: 1em;
  width: 100%;
}

.form-input {
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 0px 0px black;
  }
}

.form-control {
  border: none;
  background: initial;
  &:focus {
    outline: none;
    box-shadow: 0px 4px 0px 0px black;
  }
}


app-button {
  padding: 0;
  margin: 0;
}

.viewPwd {
  border: none;
  background: initial;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus, &:hover {
    outline: none;
      box-shadow: 0px 4px 0px 0px black;
  }
}
