<div class="forgot-password">
  <h2>Forgot password ?</h2>
  <form>
    <app-input
      [nameForm]="nameForm"
      label="login"
      labelUnvisible="Email or phone number"
      field="username"
      type="email"
      ph="Email or phone number"
      (inputEmitter)="forgotPwdListener($event)"
    ></app-input>
    <div class="form-group-buttons">
      <app-button type="submit" className="btn-primary" click
        >Reset password</app-button
      >
      <a routerLink="/login/register">Create a new account</a>
      <a routerLink="/login/auth">Log in</a>
    </div>
  </form>
</div>
