.login-container {
  margin-left: -7em;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.background {
  background-image: url('/assets/images/login/photo.png');
  background-size: cover;
  background-position: center;
  width: 70%;
}

.login-content {
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: #fff;
  color: black;
  padding: 0.5em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
