<div [class]="'form-group ' + containerClassName">
  <label [for]="id" class="form-label">
    <small [ngClass]="{ 'sr-only': labelUnvisible }"
      >{{ label }}
      <span *ngIf="required" class="required"> * </span>
    </small>
  </label>
  <div class="form-input">
    <input
      [class]="'form-control ' + inputClassName"
      [type]="type"
      [id]="id"
      [name]="field"
      [placeholder]="ph"
      [formControl]="control"
      [required]="required"
    />
    <ng-container *ngIf="isPwd">
      <app-button className="btn-icon" (click)="viewPwd()" [icon]="faEye" iconDescription="See your password"></app-button>
    </ng-container>
    <ng-content></ng-content>
  </div>
</div>
