.btn {
  margin: 0;
  padding: 0.5em 0;
  border-radius: 4%;
  border: none;
  outline: none;
  font-weight: bold;
  height: 3em;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  color: #fff;
  background-color: #007AFF;
  &:hover, &:focus {
    background-color: #0061a7
  }
  &:disabled {
    background-color: #5f85a7;
    cursor: not-allowed;
    &:hover, &:focus {
      background-color: #5f85a7;
    }
  }
}

.btn-google {
  color: #fff;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover, &:focus {
    background-color: #111111;
  }
}
