header {
  background-color: #1E1F25;
  height: max-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-form {
  display: flex;
  align-items: center;

}
submit-component {
  background: black;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1em;
  ul, li {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    cursor: pointer;
  }
}
