<header>
  <div class="search-bar">
    <form [formGroup]="search" (ngSubmit)="searchSubmit()" class="search-form">
      <input-component [labelUnvisible]="true" [nameForm]="field" [label]="field | titlecase " [field]="field" ph="{{field | titlecase }} everything..." [required]="true">
        <submit-component className="btn-icon" [icon]="searchIcon" [iconDescription]="field | titlecase ">
        </submit-component>
      </input-component>
  </form>
  </div>
  <div class="settings">
      <ul>
        <li>
          <img src="{{pathImage}}notification-2-line-1.png" alt="Notification"/>
        </li>
        <li>
          <img src="{{pathImage}}profil.png">
          <img src="{{pathImage}}chevron.png">
        </li>
      </ul>
  </div>
</header>
