<header>
  <div class="search-bar">
    <label for="search" class="sr-only">Search</label>
    <input id="search" class="search" type="text" placeholder="Search everything...">
    <button type="submit" name="search-button" id="searchButton">
      <img src="/assets/images/header/search-loop.png" alt="Search"/>
    </button>
  </div>
  <div class="settings">
      <ul>
        <li>
          <img src="{{pathImage}}notification-2-line-1.png" alt="Notification"/>
        </li>
        <li>
          <img src="{{pathImage}}profil.png">
          <img src="{{pathImage}}chevron.png">
        </li>
      </ul>
  </div>
</header>
