header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-self: flex-start;
  width: 64px;
  height: 64px;
  padding-left: 1em;
}

.search-form {
  display: flex;
  align-items: center;

}


.settings {
  padding-right: 1em;
  ul, li {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    cursor: pointer;
  }
}
