<div class="register">
  <h2>Register you !</h2>
  <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()">
    <input-component
      [nameForm]="nameForm"
      label="first name"
      field="firstname"
      ph="first name"
      [required]="true"
    >
    </input-component>
    <input-component
      [nameForm]="nameForm"
      label="Last name"
      field="name"
      ph="Last name"
      [required]="true"
    ></input-component>
    <div formArrayName="phones" class="phones">
      <small class="phone-label"
        >Phone number <span class="required">*</span></small
      >
      <div
        *ngFor="let phone of phones.controls; let i = index"
        [formGroupName]="i"
        class="phone"
      >
        <select-component
          [nameForm]="nameForm"
          label="Phone prefix"
          [labelUnvisible]="true"
          field="phonePrefix"
          [values]="values"
        ></select-component>
        <input-component
          containerClassName="phone-group"
          [nameForm]="nameForm"
          [labelUnvisible]="true"
          field="phoneNumber"
          ph="0123456789"
          [required]="true"
        ></input-component>
      </div>
    </div>
    <input-component
      [nameForm]="nameForm"
      label="email"
      field="email"
      ph="Email address"
      type="email"
      [required]="true"
    ></input-component>
    <input-component
      [nameForm]="nameForm"
      label="username"
      field="username"
      ph="Username"
      type="username"
      [required]="true"
    >
    </input-component>
    <input-component
      [nameForm]="nameForm"
      label="Password"
      field="password"
      type="password"
      ph="Enter password"
      [required]="true"
    >
    </input-component>
    <div class="form-group-buttons">
      <submit-component [disabled]="registerForm.invalid"
        >Register</submit-component
      >
      <a routerLink="/auth/login">Sign in</a>
    </div>
  </form>
</div>
