<div class="register">
  <h2>Register you !</h2>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name" class="form-label">
        <small>Nom de famille</small>
      </label>
      <div class="form-input">
        <input
          class="form-control"
          type="texte"
          id="name"
          name="name"
          placeholder="nom"
          formControlName="name"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="form-label">
        <small>Prénom</small>
      </label>
      <div class="form-input">
        <input
          class="form-control"
          type="texte"
          id="firstname"
          name="firstname"
          placeholder="prénom"
          formControlName="firstname"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="form-label">
        <small>Nom de famille</small>
      </label>
      <div class="form-input">
        <input
          class="form-control"
          type="texte"
          id="username"
          name="username"
          placeholder="adresse e-mail"
          formControlName="username"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">
        <small>Nom de famille</small>
      </label>
      <div class="form-input">
        <input
          class="form-control"
          type="texte"
          id="password"
          name="password"
          placeholder="mot de passe"
          formControlName="password"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="form-label">
        <small>Nom de famille</small>
      </label>
      <div class="form-input">
        <input
          class="form-control"
          type="texte"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="confirmer votre mot de passe"
          formControlName="confirmPassword"
        />
      </div>
    </div>
    <div class="form-group-buttons">
      <app-button type="submit" className="btn-primary" click
        >Register</app-button
      >
      <a routerLink="/auth/login">Sign in</a>
    </div>
  </form>
</div>
