
.register {
  display: flex;
  flex-direction: column;
  gap: 3em;
  @media screen and (max-width: 650px) {
    gap: 1em;
  }
  h2 {
    margin-top: 1em;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  padding-bottom: 2em;
}

app-input {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

a {
  color: #007AFF;
  text-align: center;
  &:hover, &:focus {
    color: #0061a7
  }
}

.form-group-buttons, app-button, app-submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}



