
.register {
  display: flex;
  flex-direction: column;
  gap: 3em;
  @media screen and (max-width: 650px) {
    gap: 1em;
  }
  h2 {
    margin-top: 1em;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  padding-bottom: 2em;
}

app-input {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

a {
  color: #007AFF;
  text-align: center;
  &:hover, &:focus {
    color: #0061a7
  }
}

.form-group-buttons, app-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-label {
  padding-left: 1em;
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.form-control {
  padding: 1em;
  width: 100%;
}

.form-control {
  border: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 0px 0px black;
  }
}

.btn {
  margin: 0;
  padding: 0.5em 0;
  border-radius: 4%;
  border: none;
  outline: none;
  font-weight: bold;
  height: 3em;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  color: #fff;
  background-color: #007AFF;
  &:hover, &:focus {
    background-color: #0061a7
  }
  &:disabled {
    background-color: #007AFF80;
    color: #ffffff80;
    &:hover, &:focus {
      background-color: #007AFF80;
    }
  }
}

.required {
  color: red;
  font-weight: bold;
}
