<div class="forgot-password">
  <h2>Forgot password ?</h2>
  <form [formGroup]="forgotPwdForm" (ngSubmit)="formSubmit()">
    <input-component
      [nameForm]="nameForm"
      label="login"
      field="username"
      type="email"
      ph="Enter your email address"
      [required]="true"
    ></input-component>
    <div class="form-group-buttons">
      <submit-component [disabled]="forgotPwdForm.invalid">Reset password</submit-component
      >
      <a routerLink="/auth/register">Sign up</a>
      <a routerLink="/auth/login">Sign in</a>
    </div>
  </form>
</div>
