<div class="forgot-password">
  <h2>Forgot password ?</h2>
  <form [formGroup]="forgotPwdForm" (ngSubmit)="formSubmit()">
    <app-input
      [nameForm]="nameForm"
      label="login"
      field="username"
      type="email"
      ph="Enter your email address"
      [required]="true"
    ></app-input>
    <div class="form-group-buttons">
      <app-submit-button [disabled]="forgotPwdForm.invalid">Reset password</app-submit-button
      >
      <a routerLink="/auth/register">Sign up</a>
      <a routerLink="/auth/login">Sign in</a>
    </div>
  </form>
</div>
