<div class="sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Octom" />
  </div>
  <nav class="menu" role="navigation">
    <ul>
      <ng-container *ngFor="let item of items ; let i = index" role="navigation">
          <li
            routerLink="/{{ item }}"
            routerLinkActive="is-active"
            title="{{ item }}"
          >
          <icon-component [icon]="iconItems[i]">{{ item }}</icon-component>
          </li>
      </ng-container>
    </ul>
  </nav>
  <div [hidden]>
    <small>v{{ version }}</small>
  </div>
</div>
