.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 25;
}

.menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    padding: 0;
  }
  li {
    list-style: none;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 30%;
    width: max-content;
    height: max-content;
    line-height: 0;
    color: #5F6388;
    &:hover, &:focus {
      color: #fff;
    }
  }
  .is-active {
    background-color: #5051F9;
    color: #fff;
  }
}

icon-component {
  font-size: 1.3em;
}
