header {
  background-color: #1E1F25;
  height: 76px;
  width: 100vw;
  border: solid 1px blue;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  height: 76px;
  border: solid 1px green;

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;


    li {
      list-style: none;
    }
  }
}

.search-bar {
  border: solid 1px yellow;
}
