<div class="login">
  <h2>Nice to see you again</h2>
  <form>
    <app-input
      [nameForm]="nameForm"
      label="login"
      labelUnvisible="Email or phone number"
      field="username"
      type="email"
      ph="Email or phone number"
      (inputEmitter)="loginListener($event)"
    ></app-input>
    <app-input
      [nameForm]="nameForm"
      label="Password"
      field="password"
      type="password"
      ph="Enter password"
      (inputEmitter)="loginListener($event)"
    >
    </app-input>
    <div class="login-check">
      <app-checkbox
        [nameForm]="nameForm"
        label="Remember me"
        field="remember"
        (checkboxEmitter)="loginListener($event)"
      ></app-checkbox>
      <a routerLink="/auth/forgot-password">Forgot password</a>
    </div>
    <div class="form-group-buttons">
      <app-button type="submit" className="btn-primary">Sign in</app-button>
      <app-button type="button" className="btn-google">
        <img class="google" src="/assets/images/auth/google.svg" [hidden] />
        <span>Or sign in with Google</span>
      </app-button>
        <p>Don't have an account ? <a routerLink="/auth/register">Sign up</a>
    </div>
  </form>
</div>
