<div class="auth">
  <h2>Nice to see you again</h2>
  <form>
    <app-input
      [nameForm]="nameForm"
      label="login"
      labelUnvisible="Email or phone number"
      field="username"
      type="email"
      ph="Email or phone number"
      (inputEmitter)="loginListener($event)"
    ></app-input>
    <app-input
      [nameForm]="nameForm"
      label="Password"
      field="password"
      type="password"
      ph="Enter password"
      (inputEmitter)="loginListener($event)"
    >
    </app-input>
    <div class="auth-check">
      <app-checkbox
        [nameForm]="nameForm"
        label="Remember me"
        field="remember"
        (checkboxEmitter)="loginListener($event)"
      ></app-checkbox>
      <a routerLink="/login/forgot-password">Forgot password</a>
    </div>
    <div class="form-group-buttons">
      <app-button type="submit" className="btn-primary" click>Sign up</app-button>
      <app-button type="button" className="btn-google" click>
        <img class="google" src="/assets/images/login/google.svg" [hidden] />
        <span>Or sign-up on google</span></app-button>

    </div>
  </form>
</div>
