
.auth {
  display: flex;
  flex-direction: column;
  gap: 3em;
  @media screen and (max-width: 650px) {
    gap: 1em;
  }
  h2 {
    margin-top: 1em;
  }
}

.auth-check, app-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  @media screen and (max-width: 650px) {
    gap: 0.7em;
  }
}

app-input {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

a {
  color: #007AFF;
}

.form-group-buttons, app-button {
  display: flex;
  flex-direction: column;
  gap: 2em;
  p {
    text-align: center;
  }
}

.google {
  padding: 0 5px;
}
