.form-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0;
  position: absolute;
  gap: 0.5em;
  label {
    padding: 0;
    @media screen and (max-width: 650px) {
      display: initial;
    }
  }
  .form-checkbox {
    position: relative;
    appearance: none;
    outline: none;
    width: 2em;
    height: 1em;
    background-color: #bcc8dc;
    border: 1px solid #bcc8dc;
    border-radius: 15px;
    box-shadow: inset -20px 0 0 0 #bcc8dc;
    transition-duration: 200ms;
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 1em;
      height: 0.7em;
      background-color: black;
      border-radius: 50%;
      box-shadow: 2px 4px 6px #9cabc480
    }
    &:checked {
      background-color: black;
      border: 2.5px solid #5d77a2;
      box-shadow: inset 10px 0 0 0 #5d77a2;
      &::after {
        display: none;
      }
    }
  }
}
